*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-size: 1.8vw;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: white;
}

/* navigation bar */

nav {
    background: rgb(238, 231, 231);
    height: 60px;
    width: 100%;
}

.logo{
    width: 60px;
    padding: 10 0 0 20;

}

.teste {
    color: black;
    float: right;
    margin-right: 30px;
    padding-top: 22px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 5px 13px;
    text-transform: uppercase;
}

a.active,a:hover{
    border-bottom: black solid 1px;
    transition: .5s width ease-in-out;
}

.checkbtn {
    font-size: 26px;
    color: black;
    float: left;
    line-height: 80px;
    padding-top: 15px;
    margin-left: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*the end of nav bar*/
/*first part page*/

.container img {
    width:100%;
    padding: 6% 5% 2% 23%;
}

.container {
    position: relative;
    text-align: left;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 8vw;
    color: #6E4949;
}
  
.left {
    position: absolute;
    top: 50%;
    left: 5%;
  }

a.button1:visited, a.button2:visited {
    color: black;
}

a.button1:link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    border: solid 1px;
    display: inline-block;
    margin: 0px;
    border-radius: 4px;
    color: black;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

a.button2:link {
    font-size: 20px;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 18px;
    color: black;
    display: block;
    text-align: center;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2%;
    margin-bottom: 5%;
}



a.button1:hover, a.button2:hover {
    color: white;
    background-color: #6E6A6A;
    border: ;
    transition: all .3s ease-in-out;
}

.intro p{
    padding-left: 23%;
    padding-right: 5%;
    font-size: 1.8vw;
    line-height: 1.6;
    font-weight: 300;
    padding-bottom: 5%;
}

/*the end of first part page*/
/*second part page*/

.coluna12 {
    padding: 0% 5% 0% 5%;
    background-color: white;
}

.coluna6 {
    background-color: white;
    position: relative;
}

.coluna6 img {
    cursor: pointer;
    width: 100%;
    padding: 10px;   
}

.coluna6 h1{
    cursor: pointer;
}

.coluna6 img:hover {
    filter: none;
    transition: all .5s ease;
}

.recentitem {
    border: solid black 1px;
    border-radius: 0px;
}

.recentitem i {
    position: absolute;
    left: 5%;
    top: 91.5%;
    font-size: 2.5vw;
    cursor: pointer;
}

.recentitem h1, .item1 h1, .item2 h1{
    font-weight: 400;
    line-height: 1.5;
    padding-left: 13%;
    font-size: 1.5vw;
    font-family: 'Roboto Slab', serif;
}

.recentitem p, .item1 p, .item2 p{
    padding-left: 13%;
    padding-bottom: 3%;
    font-size: 1.5vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    cursor: pointer;
}

.recentitem:hover {
    /*background: rgb(238, 231, 231);*/
    transition: all .5s ease;
    filter: grayscale(50%);
}

.rightitens {
    padding: 0% 0% 0% 2.5%;
}

.item1 {
    padding: 0% 2.5% 0% 0%;
}

.item1 img, .item2 img {
    padding: 10 10 0 10;
    filter: grayscale(100%);
}

.bottomep {
    margin-top: 6.5%;
}
.item1 h1, .item2 h1 {
    padding-top: 3%;
    line-height: 1.3;
    padding-left: 19%;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

.item1 p, .item2 p {
    padding-left: 19%;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

.item2 {
    padding: 0% 0% 0% 2.5%;
}

.leftep, .rightep {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-radius: 0px;
}

.topcoverleft {
    position: absolute;
    left: 6%;
    top: 41%;
    font-size: 2vw;
}

.topcoverright {
    position: absolute;
    left: 11%;
    top: 41%;
    font-size: 2vw;
}

.bottomcoverleft {
    position: absolute;
    left: 6%;
    top: 92.5%;
    font-size: 2vw;
}

.bottomcoverright {
    position: absolute;
    left: 11%;
    top: 92.5%;
    font-size: 2vw;
}

.espaco{
    padding-bottom: 4%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}
/*third part*/

.coluna12 h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 4vw;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    color: #6E4949;
}

.coluna12 h3 {
    font-size: 1.8vw;
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 10%;
}

/*
.coluna6 {
    background-color: white;
    position: relative;
}

.coluna3 {
    background-color: white;
    position: relative;
}

.coluna6 img {
    cursor: pointer;
    width: 100%;
    padding: 0% 5% 0% 10%;
    filter: grayscale(100%)
}

.coluna6 img:hover {
    filter: none;
}

.coluna3 img {
    width: 100%;
    padding: 0% 20% 0% 5%;
    filter: grayscale(100%)
}

.coluna6 i {
    position: absolute;
    left: 10%;
    top: 94%;
    font-size: 2.5vw;
    cursor: pointer;
}

.topcover {
    position: absolute;
    left: 5%;
    top: 43%;
    font-size: 2vw;
}

.bottomcover {
    position: absolute;
    left: 5%;
    top: 94%;
    font-size: 2vw;
}

h1 {
    font-weight: 400;
    line-height: 1.8;
    padding-left: 17%;
    font-size: 1.5vw;
    font-family: 'Roboto Slab', serif;
}

.coluna6 p, .coluna3 p {
    padding-left: 17%;
    font-size: 1.5vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.coluna6 h1{
    cursor: pointer;
}

.coluna6 p {
    cursor: pointer;
}

.espaco{
    padding-bottom: 4%;
}
*/

@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /*navigation bar*/
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:white;
        top: 60px;
        left:-100%;
        text-align: center;
        z-index: 1;
    }
    nav ul li {
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
    }
    #check:checked~ul{
        left: 0;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*the end of nav bar*/
    /*first part page*/
    .container img {
        width:100%;
        padding: 0% 0% 15% 0%;
    }
    .container {
        position: relative;
        text-align: center;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-weight: 900;
        font-size: 8vw;
        color: #6E4949;
    }

    .left {
        position: absolute;
        top: 82%;
        left: 20%;
      }

    a.button:link {
        margin: 0;
        position: absolute;
        bottom: -70%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 3vw;
    }

    .intro p{
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 7%;
        font-size: 3.5vw;
        line-height: 1.6;
        font-weight: 300;
    }
    /*the end of first part page*/
    /*second part page*/

    .coluna12 {
        padding: 10% 5% 0% 5%;
    }

    .coluna6 {
        width: 100%;
    }

    .intro p {
        padding-bottom: 20%;
        border-bottom: solid black 1px;
    }
    
    .item1 img:hover, .item2 img:hover {
        filter: grayscale(100%);
        transition: none;
    }
    
    .recentitem {
        border: none;
    }
    
    .recentitem i {
        font-size: 5vw;
    }
    
    .recentitem h1, .item1 h1, .item2 h1{
        padding-left: 13%;
        font-size: 3.5vw;
    }
    
    .recentitem p, .item1 p, .item2 p{
        padding-left: 13%;
        padding-bottom: 3%;
        font-size: 3.5vw;
        cursor: pointer;
    }
    
    .recentitem:hover {
        transition: none;
        filter: none;
    }
    
    .rightitens, .item1 {
        padding: 0;
    }
    
    .item1 img, .item2 img {
        padding: 10 10 0 10;
        filter: grayscale(100%);
    }
    
    .bottomep {
        margin-top: 0;
    }
    .item1 h1, .item2 h1 {
        padding-top: 3%;
        line-height: 1.3;
        border-right: none;
        border-left: none; 
    }
    
    .item1 p, .item2 p {
        padding-bottom: 10px;
        border-bottom: none;
        border-right: none;
        border-left: none;
    }
    
    .item2 {
        padding: 0;
    }
    
    .leftep, .rightep {
        border-top: none; 
        border-right: none; 
        border-left: none;
    }

    .cvr {
        font-size: 5vw;
    }
    
    .topcoverleft, .topcoverright {
        left: 5%;
        top: 46%;
    }
    
    .bottomcoverleft, .bottomcoverright {
        left: 5%;
        top: 96%;
    }
}

/*parte streaming footer*/
.streamings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*margin-left: -1rem;
    margin-right: -1rem;*/
}

.streamings i {
    font-size: 1.8em;
    transition: all 0.3s ease-in-out;
    margin: 20;
    color: black;
}

.streamings i:hover, .streamings i:focus {
    transform: scale(1.1);
}

.streamings .strm{
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    margin: 0.5rem 0.75rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.streamings .strm:focus,
.streamings .strm:hover {
    transform: scale(1.1);
}

.social, .contato {
    display: flex;
    flex-wrap: wrap;
    /*margin-left: -0.5rem;
    margin-right: -0.5rem;*/
}

.contato li {
    /*font-size: .8em;*/
    padding-left: 3%;
    text-align: center;
    padding-top: 10%;
    font-size: 1.5vw;
}

.social li {
    font-size: 1.5vw;
}

.coluna3 {
    text-align: center;
}



.social h3 {
    padding-left: 5%;
}

.social p {
    padding: 20%;
}



.fim {
    background: rgb(238, 231, 231);
    padding: 10%;
    text-align: center;
}

.fim h1 {
    font-size: 1.5vw;
}

.logobotton {
    width: 50%;
}

.footer {
    background: #F8D8CD;
    padding:0;
}

.footer h1 {
    font-weight: 700;
    padding: 2% 2% 1% 2%;
    font-size: 1.5vw;

}

.coluna1, .coluna3 {
    background: #F8D8CD;
}

.coluna3{
    padding: 0;
}

.coluna1, .coluna3, .coluna8 {
    height: 12%;
}

.coluna1 {
   background:url(ondas-do-mar.png) center center no-repeat;
   background-size: 80% 80%;
   background-color:#F8D8CD;
}

/*
.social a {
    display: block;
    height: 30px;
    width: 30px;
    *border: 1px solid #fff;
    border-radius: 50%;*    
    border: none;
    *margin: 0.5rem;*
    text-indent: 1000px;
    overflow: hidden;
    *background-position: center center;*
    background-size: 18px 18px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    margin-left: 50%;
}
*/

/*
.social a.instagram {
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M437,0H75A75,75,0,0,0,0,75V437a75,75,0,0,0,75,75H437a75,75,0,0,0,75-75V75A75,75,0,0,0,437,0ZM257,390c-74.4,0-135-60.6-135-135s60.6-135,135-135,135,60.6,135,135S331.4,390,257,390ZM407,150a45,45,0,1,1,45-45A45.1,45.1,0,0,1,407,150Z" fill="%23fff"/><path d="M257,166a89,89,0,1,0,89,89A89.1,89.1,0,0,0,257,166Z" fill="%23fff"/></svg>');
}
.social a.instagram:focus,
.social a.instagram:hover {
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M437,0H75A75,75,0,0,0,0,75V437a75,75,0,0,0,75,75H437a75,75,0,0,0,75-75V75A75,75,0,0,0,437,0ZM257,390c-74.4,0-135-60.6-135-135s60.6-135,135-135,135,60.6,135,135S331.4,390,257,390ZM407,150a45,45,0,1,1,45-45A45.1,45.1,0,0,1,407,150Z" fill="%23C86341"/><path d="M257,166a89,89,0,1,0,89,89A89.1,89.1,0,0,0,257,166Z" fill="%23C86341"/></svg>');
}

.social a:focus,
.social a:hover {
    border-color: #c86341;
}

*/
